
.skills {
    display: flex;
    width: 100%;
}
.skills img {
    height: 50px;
    margin-right: 2%;
}

.hard-skills {
    display: flex;
    width: 50%;
    flex-direction: column;
}
.hard-skills div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2%;
    margin-top: 2%;
}
.hard-skills .proggress {
    position: absolute;
    left: 25%;
    width: 20%;
    margin: 0px;
    background-color: var(--main-color);
    height: 3.5%;
    border-radius: 6px;
 }


/*.hard-skills .value-skill {
    position: absolute;
    left: 35%;
    z-index: 2;
}*/

.soft-skills {
    display: flex;
    width: 50%;
    flex-direction: column;
}
.soft-skills div {

    width: 100%;
    margin-bottom: 2%;
    margin-top: 2%;
}
.soft-skills span , .hard-skills span {
     width: 15px;
     height: 15px;
     border: 3px solid var(--main-color);
     display: inline-block;
     margin: 1%;
     border-radius: 50%;
 }
.hard-skills .title-skill {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}
.soft-skills .title-skill {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}
.hard-skills .tittle-hard-skill {
    display: flex;
    width: 50%;
}.tittle-hard-skill span {
    margin-right: 2%;
 }

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 460px){

}