
.skills {
    display: flex;
    width: 100%;
}
.skills img {
    height: 50px;
    margin-right: 2%;
}

.hard-skills {
    display: flex;
    width: 50%;
    flex-direction: column;
}
.hard-skills div {
    display: flex;
    width: 100%;
    margin-bottom: 2%;
    margin-top: 2%;
}
.hard-skills progress {
    margin: auto;
 }

.soft-skills {
    display: flex;
    width: 50%;
    flex-direction: column;
}
.soft-skills div {
    display: flex;
    width: 100%;
    margin-bottom: 2%;
    margin-top: 2%;
}
.soft-skills span , .hard-skills span {
     width: 15px;
     height: 15px;
     border: 3px solid var(--main-color);
     display: inline-block;
     margin: 0 12px;
     border-radius: 50%;
 }
.hard-skills .title-skill {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}
.soft-skills .title-skill {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}
@media screen and (max-width: 768px) {

}

@media screen and (max-width: 460px){

}