#competences {
   /* height: 94vh;*/
}
.skills {
    display: flex;
    width: 100%;
    margin-top: 5%;
}
.skills img {
    height: 50px;
    margin-right: 2%;
}
.soft-skills span , .hard-skills span {
    width: 1vw;
    height: 1vw;
    border: 3px solid var(--main-color);
    display: inline-block;
    margin: 1%;
    border-radius: 50%;
}
/* HARD-SKILLS */
.hard-skills {
    display: flex;
    width: 50%;
    flex-direction: column;
    box-shadow: 1px 5px 22px 8px #161616;
    height: min-content;
    align-self: center;
    padding: 2%;
}
.hard-skills div {
    display: flex;
    /*align-items: center;*/
    width: 100%;
    margin-bottom: 2%;
    margin-top: 2%;

}
.hard-skills .proggress {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 25%;
    width: 20%;
    margin: 0;
    background-color: var(--main-color);
    height: 1.4vw;
    border-radius: 6px;
    font-size: 1.3vw;
 }

.hard-skills .title-skill {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}
.hard-skills .tittle-hard-skill {
    display: flex;
    width: 50%;
    align-items: center;
}.tittle-hard-skill span {
     margin-right: 2%;

 }
/* SOFT-SKILL */

.soft-skills .proggress {
    position: absolute;
    left: 75%;
    width: 20%;
    margin: 0;
    background-color: var(--main-color);
    height: 1.6vw;
    border-radius: 6px;
    text-align: center;
    font-size: 1.4vw;

}

.soft-skills {
    display: flex;
    width: 50%;
    flex-direction: column;
    box-shadow: 1px 5px 22px 8px #161616;
    padding: 0 2%;
}
.soft-skills div {

    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2%;
    margin-top: 2%;

}

.soft-skills .title-skill {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
    flex-direction: row;
}

.soft-skills .tittle-soft-skill {
    display: flex;
    width: 50%;
    align-items: center;

}
.tittle-soft-skill span {
     margin-right: 2%;
 }
.precisionSkill {
    margin: 2% 2% 2% 3%;

}
@media screen and (max-width: 768px) {

}

@media screen and (max-width: 460px){

}