@keyframes animationmove {
    50% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(10deg);
    }
}

#arrestations {
    text-align: center;
    padding-top: 1em;
}

#experiences {
    display: flex;
    justify-content: space-evenly;

}


#experiences h3 {
    text-align: center;
    text-decoration: underline;
}

#references {
    display: flex;
    flex-direction: column;
    height: 300px;
}


/*#references img {
    width: 15vw;
}*/

/*#references img:hover {
    animation: animation 0.3s infinite;
    width: 11.2em;
}*/




#formation {
    display: flex;
    flex-direction: column;
    height: 300px;
}


#experiences p {
    text-align: center;
    margin: auto;
}


/* #formation ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formation ul li {
    list-style: none;
}*/

@media screen and (max-width: 768px) {
    #experiences {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        padding-top: 0;
    }

    #references {
        display: flex;
        align-content: center;
        width: 450px;
        padding: 0;
    }

    #references img:hover {
        animation: none;
        width: 30vw;
    }

    #references img {
        animation: none;
        width: 30vw;
    }

    #JL {
        order: 1;
    }

    #ww {}

    #formation {
        padding: 0;
    }

    #formation a {
        margin: 0;
    }
}
