#haut {
    display: flex;
    justify-content: center;
    height: 94vh;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(70,252,244,1) 100%);
    width: 100%;
}

.description {
    display: flex;
    height: 100%;
}

h1 {
    font-size: 7vw;

}

#noms {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 50%;
}

#noms p {
    font-size: 3vw;
    text-align: center;
    padding: 5%;
}



#demande {
    display: flex;
    align-items: center;
    height: 50%;
    margin-right: 2%;
    margin-left: 2%;
    padding-bottom: 2%;
}

#demande p {
    font-size: 28pt;
}

.speatch {
    margin-left: 4%;
    height: 100%;
}

.My-picture {

    width: 100%;
    align-items:center;

    display: flex;
    justify-content: center;
}
.My-picture img {
    height: 50%;
    transform: rotate(0.25turn);
    clip-path: circle(50%);
}
.pix-home {
    height: 20px;
}

@media screen and (max-width: 1200px){
 /*   .batman-pic{
        background-image: url("../Images/entete_med.jpg");
        height: 500px;
        width: 500px;
    }*/
    #demande p {
        font-size: 20pt;
    }
}

@media screen and (max-width: 980px){
    #demande {
        height: 50%;
        width: 80%;
        margin: auto;
    }
    .speatch {
        width: 40%;
    }
    
}

@media screen and (max-width: 768px) {
  /*  .batman-pic{
        background-image: url("../Images/entete_reg.jpg");
        height: 300px;
        width: 300px;
    }*/
    #demande p {
        font-size: 2vh;
    }

    #demande {
        height: 50%;
        width: 100%;
        text-align: center;
        /* margin: auto; */
    }
    .description {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        align-items: center;
    }
    .speatch {
        width: 80%;
        height: 50%;
    }

    h1 {
        font-size: 10vw;
        margin-left: var(--spacing-lg);
        margin-right: 5%;

    }

    #noms p {
        font-size: 5vw;
    }
    #haut{
        height: 100vh;
    }
}

