@import "navbar.css";
@import "contact.css";
@import "recommandations.css";
@import "competences.css";
@import "projets.css";
@import "footer.css";
@import "experience.css";
@import "header.css";
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oxanium&display=swap');



:root {

    --main-color: rgba(70,252,244,1);
    --dark: rgb(29, 28, 28);
    --dark-sec: rgb(54, 51, 51);
    --light: rgb(255, 255, 234);
    --main-font: 'Oxanium', cursive;
    --title-font: 'Permanent Marker', cursive;

    --main-size: 14pt;
    --medium-size: 16pt;
    --large-size: 70pt;
    --spacing-sm: calc(var(--spacing) / 2);
    --spacing: 16px;
    --spacing-lg: calc(var(--spacing) * 2);

    --breakpoint-tablet: 768px;
    --breakpoint-mobile: 414px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body {
    font-family: var(--main-font);
    font-size: var(--main-size);
    background-color: var(--dark-sec);
    color: var(--light);

}
main {
    margin-left: 5%;
    margin-right: 5%;
}
h1,
h2 {
    font-family: var(--title-font);
    color: var(--light);
}

.titres{

    height: 136px;
    position: relative;
    display: flex;
    justify-content: center;
    font-weight: 900;
}

h2 {
    /* border-radius: 5px; */
   /* position: absolute;*/
    text-align: center;

}
h2 span {
    top: 30px;
    width: 36px;
    height: 36px;
    border: 3px solid var(--main-color);
    display: inline-block;
    margin: 0 12px;

}
section {
    padding-top: 64px;
    margin-bottom: var(--spacing-lg);
}

@media screen and (max-width: 768px){

    h2{
        top: 21px;
        font-size: 18pt;
    }
    section {
        padding-top: 32px;
    }
}




