.edit {
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
form {
    width: 80vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
form button {
    width: 60%;
    height: 50%;
    margin: 2%;
    background-color: var(--main-color);
    border: none;
    color: var(--light);
    text-decoration: none;
    font-size: 30px;
    border-radius: 28px;
}
.edit h2 {
    margin-bottom: 2%;
    text-decoration: underline;
}