#projets {
   min-height: 50vh;

}
.all-projects {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    margin: 5%;
}

.projects {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;


}

.projects img {
    width: 100%;
    border-radius: 19px 19px 0 0 ;
}

.projects a {
    background: var(--main-color);
    color: var(--light);
    border-radius: 20px ;
    /*padding: 2%;*/
    font-size: 20px;
    font-weight: 900;
    box-shadow: 1px 5px 22px 8px var(--main-color);

}
@media screen and (max-width: 788px) {
    .all-projects {
        width: auto;
        margin-bottom: 5%;
        margin-top: 5%;
        display: inline-block;
        height: auto;
    }

    .projects {
        width: 50%;
        height: auto;
        display: flex;
        text-align: center;
        margin: 10% 25%;

    }
}
@media screen and (max-width: 414px) {
    .all-projects {
        width: 100%;
        margin: 0;
        display: inline-block;
        height: 100%;
    }
    .projects {
        width: 80%;
        height: auto;
        display: flex;
        text-align: center;
        margin: 10% auto;

    }
}